.home-container {
  width: 100%;
  height: 100vh;
  background: url("../../../images/CreatePreLogin/crea-tu-vico.jpg") center center no-repeat;
  background-size: cover;

  .hide {
    opacity: 0;
  }
  .title-container {
    max-width: 326px;
    margin: 0 auto;
    padding: 10% 10% 0 10%;
    display: flex;
    flex-flow: column nowrap;
    font-size: 5rem;
    font-family: NunitoBold, sans-serif;

    & strong {
      text-shadow: 0px 0px 12px #4a4a4a;
    }

    & strong:nth-of-type(2) {
      margin-top: -4rem;
      margin-left: 2rem;
    }

    & strong:nth-of-type(3) {
      margin-top: -4rem;
      text-align: end;
    }
  }

  .description {
    color: white;
    text-align: center;
    margin: 2rem 1rem;
  }

  .btn {
    margin: 5rem auto;
    display: block;
    border-radius: 30px;
    border: 2px solid #ff9b00;
    color: #ff9b00;
    font-size: 1rem;
    font-family: NunitoBold, sans-serif;
    width: 100%;
    max-width: 192px;
    transition: background-color 200ms ease, color 200ms ease;

    &:hover {
      transition: background-color 200ms ease, color 200ms ease;
      color: white;
      background-color: #ff9b00;
    }
  }
}

.cta-wrapper {
  width: 100%;
  height: 100%;
  max-height: 236px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  z-index: 1;

  .title {
    background-color: #ef8e01;
    color: #fff;
    font-family: NunitoBold, sans-serif;
    text-align: center;

    & > h1 {
      margin: 2rem 0;
    }
  }
  .accordion-container {
    z-index: 2;
    position: relative;
    cursor: pointer;
    height: 50px;

    .accordion {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;

      .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow-down {
          transition: transform 200ms ease;
          transform: rotate(0deg);
        }
      }

      &.collapsed-arrow {
        .card-header {
          .arrow-down {
            transform: rotate(90deg);
          }
        }
      }

      .card-body {
        border-radius: 0px 0px 21px 21px;
      }

      .list-group-item {
        border: none;

        &.city {
          cursor: pointer;
          color: #ff9b00;
          padding-left: 3rem;
          // padding-top: 0;
          padding-bottom: 6px;
          transition: all 200ms ease;

          &:hover {
            transition: all 200ms ease;
            font-size: 1.2rem;
            transform: scale(1.01);
            color: #fff;
            background-color: rgba(239, 142, 1, 0.47);
          }
        }
      }
    }
  }

  .cta-container {
    z-index: 1;
    height: 50px;
    margin: auto 0;

    .addressInput {
      margin: 0;
      padding-left: 1.25rem;
      height: unset;
      border: none;
      border-radius: 0;
    }

    .searchButton {
      border-radius: 0;
      margin: 0;
      background-color: #ff9b00;
      color: #fff;
      cursor: pointer;
      display: block;

      &:disabled {
        display: none;
        pointer-events: none;
      }


    }
  }
}

.map-localization {
  max-height: 320px;
  bottom: 0;
}

.nextButton {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c4c4c4;
  border: none;
  padding: 0.45rem 1.25rem;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  cursor: initial;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &.active {
    cursor: pointer;
    background-color: #ef8e01;
  }
}

.roomtype-container {
  height: inherit;

  .roomtype-title {
    color: #828282;

    & > strong {
      text-shadow: none;
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;

      & > span {
        color: #ef8e01;
      }
    }
  }

  .neighborhood-container{
    display: grid;
    place-items: center;
    text-shadow: none;
    font-weight: 600;
    font-size: 26px;
    line-height: 49px;
    color: #828282;
    padding-top: 1rem;

    .dropdown{
      text-align: center;

      & > a{
        border: 2px #ff9b00 solid;
        border-radius: 35px;
        font-size: 1rem;
        padding: 0.7rem 0.75rem;
      }
    }

    .custom-dropdown-menu{
      max-height: 320px;
      overflow-y: scroll;
      left: calc(50% - 130px) !important;

      .dropdown-search{
        position: sticky;
        margin: 1rem 1rem;
        width: calc(100% - 1.8rem);
        top: 0;
      }
    }
  }
}

.create-vico {
  height: fit-content;
  width: inherit;
  .check-card {
    background-color: #5cb85c;
    h5 {
      a,
      h6 {
        color: white;
      }
    }
  }

  .select-equip {
    .equip-selector {
      text-align: center;
      margin-top: 23%;
      .form-check {
        height: fit-content;
      }

      .equip {
        input {
          display: none;

          &:checked + label {
            background: #5cb85c;
            color: white;
            box-shadow: 0 3px 3px #5cb85c79;

            span {
              color: white;
            }
          }
        }

        label {
          position: relative;
          background: #fff;
          border-radius: 8%;
          text-align: center;
          overflow: hidden;
          cursor: pointer;
          width: 4rem;
          height: 4rem;
          line-height: 4rem;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

          &:hover {
            background: #f0f0f0;
          }

          & + p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .rule {
      margin-bottom: 10%;
      p {
        margin: 0px;
      }
    }
  }
}

.cta-wrappers {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn {
    margin: 1rem auto;

    &:hover {
      background-color: unset;
      color: #ef8e01;
    }

    &.btn-end {
      cursor: pointer;
      &:hover {
        background-color: #ef8e01;
        color: #fff;
      }

      &.disabled{
        pointer-events: none;
        background-color: #c4c4c4;
        color: #fff;
        border-color: #c4c4c4;
      }
    }
  }
  .btn-link {
    border: none;
  }
}

@media screen and (max-width: 375px){
  .neighborhood-container{
    .custom-dropdown-menu{
      transform: translateY(65px) !important;
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .home-container {
    .title-container {
      padding-top: 0;
    }

    .btn {
      margin: 3rem auto;
    }
  }

  .map-localization {
    max-height: 257px;
  }

  .roomtype-container {
    .roomtype-title {
      text-align: center;
      max-width: 500px;
      margin-top: 2rem;
    }

    .create-vico {
      .equip-selector {
        margin-top: 10%;
      }
    }
  }

  .cta-wrappers {
    flex-direction: row;
  }
}

@media screen and (min-width: 1001px) {
  .home-container {
    .title-container {
      padding-top: 0;
      max-width: 393px;
    }

    .btn {
      margin: 2rem auto;
    }
  }

  .map-localization {
    max-height: 373px;
  }

  .roomtype-container {
    .roomtype-title {
      max-width: 500px;
      margin-top: 2rem;
      text-align: center;
    }

    .create-vico {
      .equip-selector {
        margin-top: 5%;
      }
    }
  }
  .cta-wrappers {
    flex-direction: row;
  }
}
