#footer {
  border-top: 1px solid #dee2e6;
}

#header-name {
  font-size: 35px;
}

#instagram {
  height: 30px;
  width: 30px;
}

#instagram-handle {
  color: #00A3FF;
}

.gutters {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

#user-photo {
  height: 100px;
}