.input-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
}
.custom-input {
    padding-right: 2px;
    border: .1px solid transparent;
    font-size: 15px;
    font-weight: 400;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    line-height: 20px;
    width: 100%;
    user-select: text;
    height: 20px;
    resize: none;
}
.button-send {
    height: 25px;
    width: 25px;
    border-radius: 0 30px 30px 0;
    outline: 0px !important;
    -webkit-appearance: none;
    background-color: transparent;
    border-color: transparent;
    background-image:url('../../../images/send.png');
    background-repeat:no-repeat;
    background-size: contain;
}