#footer {
  border-top: 1px solid #dee2e6;
}

#instagram-handle {
  color: #00A3FF;
}

.gutters {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.w-modal {
  min-width: 60%;
}

// style for the caritas
.PrivateValueLabel-label-20 {
  font-size: 25px;
  padding-top: 7px;
  padding-left: 1px;
}

