html, body {
  height:100%;
  color: black;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
body {
  display:flex;
  align-items:center;
}

h1 {
  font-size: 5vw;
}

h3 {
  font-size: 2vw;
  top: 50vh;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .2rem;
  text-align: center;
}

#picture {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
