.Chat-access{
    height: fit-content;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    // font-family: NunitoRegular;
    border-bottom: 1px solid #ededed;
    &:hover{
        background-color: darken($color: white, $amount: 10%);
    }

    .message-hour {
        // font-family: NunitoRegular;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: small;
    }

    .username {
        // font-size: 20px;
        font-size: medium;
        display: block;
    }
    .vico-name {
        // font-size: 16px;
        font-size: small;
        display: block;
    }

    .message{
        font-size: large;
    }

    .user-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
    .user-flag{
        position: absolute;
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;        
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
}

.unread{
    font-family: NunitoBold;
}

.read {
    font-family: NunitoRegular;
}

.message-hour.unread{
    color: #ea960f;
}

.visit-type{
    position: absolute;
    top: 35px;
    right: 5px;
    height: 35px;
    width: 40px;    
    &.online{
        content: '\A';
        background: url('/images/visit-off.png');   
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.icon.accepted{
        display: inline-block;        
        height: 20px;
        width: 20px;
        background: url('/images/accepted.png');
        background-repeat: no-repeat;
        background-size: contain;
}
.icon.payment{
        display: inline-block;        
        height: 20px;
        width: 20px;
        background: url('/images/accepted.png');
        background-repeat: no-repeat;
        background-size: contain;
}

.icon.now{
    display: inline-block;    
    height: 20px;
    width: 20px;
    background: url('/images/now.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon.message{
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url('/images/message.png');
    background-repeat: no-repeat;
    background-size: contain;
}
    

.Chat-access.accepted{
    height: fit-content;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    // font-family: NunitoRegular;
    border-bottom: 1px solid #ededed;

    .message-hour {
        // font-family: NunitoBold;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .username {
        font-size: 20px;
        display: block;
    }

    .vico-name {
        font-size: 16px;
        display: block;
        color:  rgba(115, 201, 80, 1);
    }

    .message{
        color:  rgba(115, 201, 80, 1);
        display: inline-block;    
        .icon {
            height: 20px;
            width: 20px;
            
        }
    }

    .user-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }

    .user-flag {
        position: absolute;
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
}
.Chat-access.accepted{
    height: fit-content;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    // font-family: NunitoRegular;
    border-bottom: 1px solid #ededed;

    .message-hour {
        // font-family: NunitoBold;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .username {
        font-size: 20px;
        display: block;
    }

    .vico-name {
        // font-size: 16px;
        // display: block;
        color:  #ea960f;
    }

    .message{
        color: #ea960f;    
        display: inline-block;    
        .icon {
            height: 20px;
            width: 20px;
            
        }
    }

    .user-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }

    .user-flag {
        position: absolute;
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
}

.Chat-access.visit {
    height: fit-content;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    // font-family: NunitoRegular;
    border-bottom: 1px solid #ededed;

    .message-hour {
        // font-family: NunitoBold;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .username {
        font-size: 20px;
        display: block;
    }

    .vico-name {
        font-size: 16px;
        display: block;
    }

    .message {
        color: #ea960f;
    }

    .user-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }

    .user-flag {
        position: absolute;
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
}

.Chat-access.now {
    height: fit-content;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    // font-family: NunitoRegular;
    border-bottom: 1px solid #ededed;

    .message-hour {
        // font-family: NunitoBold;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .username {
        font-size: 20px;
        display: block;
    }

    .vico-name {
        font-size: 16px;
        display: block;
    }

    .message {        
        .icon {
            height: 20px;
            width: 20px;
        }
    }

    .user-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }

    .user-flag {
        position: absolute;
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
}

.Chat-access.canceled {
    height: fit-content;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    // font-family: NunitoRegular;
    border-bottom: 1px solid #ededed;

    .message-hour {
        // font-family: NunitoBold;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .username {
        font-size: 20px;
        display: block;
    }

    .vico-name {
        font-size: 16px;
        display: block;
        text-decoration:line-through;
    }

    .message {
        text-decoration:line-through;
        .icon {
            display: none;
        }
    }

    .user-image-opacity::after {
        content: '\A';
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        background:rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        position: absolute;
        left: 0;
    }    

    .user-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;        
    }

    .flag-image-opacity::after{
        content: '\A';
        height: 15px;
        width: 15px;        
        top: 35px;
        left: 35px;
        border-radius: 50%;
        background:rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        position: absolute;
    }

    .user-flag {
        position: absolute;
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        float: left;
        vertical-align: middle;
    }
}
.timer{
    // background-color: red;
    font-weight: 600;
    margin: 0 0.5em;
}
.vico-name {
    // font-size: 16px;
    // display: block;
    color:  #ea960f;
}