# supervisor
#
# Author: Günter Grodotzki <gunter@grodotzki.co.za>
# Version: 2015-04-25
#
# set param "SUPERVISE=enable" to activate
#
packages:
  yum:
    python27-setuptools: []
container_commands:
  01-set-exec-bit:
    command: "chmod +x .ebextensions/supervise.sh"
  02-set-permision:
    command: "chmod 777 storage/framework/sessions"
  03-supervise:
    command: ".ebextensions/supervise.sh"
  04-clear-config:
    command: "php artisan config:clear"
  05-clear-routes:
    command: "php artisan route:clear"
  06-clear-views:
    command: "php artisan view:clear"
