.houses-container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 1em 3em;
}