._text_container {
    position: relative;
    user-select: none;
    text-align: left;
    line-height: normal;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px 31px;
    flex: 1 1 auto;
}